<div class="popup" *ngIf="backend.openDialog">
  {{checkEdit()}}
  <div class="content">
    <div class="grid">
      <div class="left">
        <div class="center">
          <button
            [ngClass]="{ 'tab-btn': true, active: currentTab === 'functions' }"
            (click)="changeTab('functions')"
          >
            Functions
          </button>
          <button
            [ngClass]="{ 'tab-btn': true, active: currentTab === 'elements' }"
            (click)="changeTab('elements')"
          >
            Elements
          </button>
        </div>
        <br />
        <div *ngIf="currentTab == 'functions'" class="row inbox">
          <app-feature
            *ngFor="let func of backend.functions"
            [feature]="func"
            [canDisable]="false"
          ></app-feature>
        </div>
        <div *ngIf="currentTab == 'elements'" class="row inbox">
          <app-feature
            *ngFor="let col of backend.columns"
            [feature]="col"
            [canDisable]="false"
          ></app-feature>
        </div>
      </div>
      <div class="right">
        <div class="function-box">
          <div class="title">Function</div>
          <div class="body" #body contenteditable="true" spellcheck="false" (dragover)="dragover($event)" (drop)="onFunctionDrop($event)">
            <!-- <app-drop-target
              *ngIf="!function"
              (onDrop)="onFunctionDrop($event)"
            ></app-drop-target> -->
            <div *ngIf="function" #ref class="row">
              <div class="row" *ngFor="let func of function; let x = index;">
                <app-drop-cell [function]="func" [functionIndex]="x"></app-drop-cell><span *ngIf="x < function.length-1"> AND </span><div class="row" *ngIf="x < function.length-1"> </div>
                <!-- {{ func.name | functionname }}(<div class="row" *ngFor="let field of func.fields; let i = index"><div class="row arg" attr.data-function-index="{{x}}" attr.data-arg-index="{{i}}" (drop)="onElementDrop($event)" (dragover)="dragover($event)" contenteditable="true">
                  {{field.type != "function" ? field.id : field.name | functionname}}
                </div><span>{{ i < func.fields.length - 1 ? ", " : "" }}</span></div>)<span *ngIf="x < function.length-1"> AND </span><div class="row" *ngIf="x < function.length-1"> </div> -->
              </div>
            </div>
          </div>
          <div class="actions">
            <button (click)="onClose('cancel')">Cancel</button>
            <button (click)="clearFunction()">Clear</button>
            <button (click)="validate()">Validate</button>
            <button [disabled]="!validated" (click)="apply()">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
