*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.box{
    width: 100%;
    background-color: #ececec;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}
.feature{
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
    text-align: center;

    &.disabled{
        opacity: .5;
        cursor: not-allowed;
    }
}